# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
ENV/
bin/
lib/
develop-eggs/
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Secrets / Environment variables
.env
.venv
